h2 {
    background-color: coral;
    color: white;
}
#text{
    color: white;
    background-color: coral;
}
.kelas{
    border: 2px solid black;
    border-radius: 5px;
    color: purple;
}
.latihan{
    color: blue;
    text-align: center;
    background-color: chartreuse;
}
body{
    /*background: linear-gradient(black,white,darkgrey);*/
    background-image: url(./latihancss/img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tabel{
    background-color: darkgray;
    border-spacing: 0px;
    border-radius: 10px;
    border-color: darkred;
    display: inline-block;
}
#gambar{
    height: 500px;
    width: 500px;
    padding:10px;
}
.kesukaan{
    width: 200px;
}
.hobi{
    width: 20vh;
}
.margin{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    text-align: center;
}
.margin:hover{
    background-color: coral;
}
.margin-kiri{
    margin-left: 20px;
}
img{
    border-radius: 15px;
}
.font{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.link{
    text-decoration: none;
}
.link:hover{
    color: coral;
}